name: Test Pull Request

on:
  pull_request:
    branches:
    - main
    - v*

jobs:
  unit:
    name: Unit Tests
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Setup Go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Run Unit Tests
      run: ./scripts/unit.sh

  upload:
    name: Upload Workflow Event Payload
    runs-on: ubuntu-24.04
    steps:
    - name: Upload Artifact
      uses: actions/upload-artifact@v6
      with:
        name: event-payload
        path: ${{ github.event_path }}
