# Config for https://github.com/adrienverge/yamllint
extends: default

rules:
  comments:
    require-starting-space: true
    ignore-shebangs: true
  comments-indentation: disable
  document-start: disable
  truthy: disable
  line-length: disable
  indentation:
    spaces: consistent
    indent-sequences: whatever
    check-multi-line-strings: false
  brackets:
    max-spaces-inside: -1
