name: Test Pull Request

on:
  pull_request:
    branches:
    - main

jobs:
  test:
    name: Acceptance Test
    runs-on: ubuntu-24.04
    steps:
    - name: Setup Go
      uses: actions/setup-go@v3
      with:
        go-version: 'stable'

    - name: Checkout
      uses: actions/checkout@v3

    # https://github.com/docker/setup-qemu-action
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Create stack
      id: create-stack
      run: |
        ./scripts/create.sh

    - name: Run Acceptance Tests
      run: ./scripts/test.sh

  upload:
    name: Upload Workflow Event Payload
    runs-on: ubuntu-24.04
    steps:
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: event-payload
        path: ${{ github.event_path }}
