name: Renovate

on:
  workflow_dispatch:
jobs:
  renovate:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Self-hosted Renovate
      uses: renovatebot/github-action@v42.0.3
      with:
        configurationFile: renovate-config.js
        token: ${{ secrets.PAKETO_BOT_REVIEWER_GITHUB_TOKEN }}
      env:
        LOG_LEVEL: 'debug'