name: Renovate

on:
  workflow_dispatch:
  schedule:
    - cron: "30 4 * * *"
jobs:
  renovate:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Self-hosted Renovate
      uses: renovatebot/github-action@v44.2.4
      with:
        configurationFile: ./.github/renovate-config.js
        token: ${{ secrets.PAKETO_BOT_GITHUB_TOKEN }}
